html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: blanchedalmond;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
}

.main_friends{
    background-color: orange;
    display: flex;
    flex-warp: wrap;
    justify-content: space-evenly;
}

.friend {
    max-width: 200px;
    height: 310px;
    overflow: hidden;
}

.friend img {
    width: 100%;
    height: auto;
}

main {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main_content{
    flex: 3;
}

aside {
    flex: 1
}


footer {
   align-content: center;
}